---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="Projects">
  <main class="flex-1">
    <section id="projects" class="w-full py-8 md:py-12 lg:py-16">
      <div class="container px-4 md:px-6">
        <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
          Projects
        </h2>
        <p
          class="mt-4 text-gray-500 md:text-lg/relaxed lg:text-base/relaxed xl:text-lg/relaxed dark:text-gray-400 w-full sm:w-3/4 mx-auto sm:mx-0 text-center sm:text-left"
        >
          Explore my latest projects and achievements in data science, AI, and
          web technologies.
        </p>
        <div class="grid gap-6 mt-8 md:grid-cols-2 lg:grid-cols-3">
          <ProjectCard
            title="Haxball AI"
            description="Creation of the `HaxballGym` library to train AI agents for the Haxball game."
            link="/projects/haxball-ai"
          />
          <ProjectCard
            title="Haxball Dashboard"
            description="Dashboard for Haxball game competitions"
            link="/projects/haxball-dashboard"
          />
          <ProjectCard
            title="ENS ChallengeData"
            description="Prediction of the response time of firefighters in Paris"
            link="/projects/ens-firefighters"
          />
          <!-- Add more ProjectCard components for any additional projects -->
        </div>
      </div>
    </section>
  </main>
</Layout>
