---
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Resume">
  <main class="flex-1">
    <section id="resume" class="w-full py-6 sm:py-8 md:py-12 lg:py-16">
      <div class="container px-4 md:px-6">
        <h2 class="text-3xl sm:text-3xl font-bold tracking-tighter md:text-5xl">
          Resume
        </h2>
        <div
          class="mt-4 text-sm sm:text-base text-gray-500 dark:text-gray-400 w-full sm:w-3/4 mx-auto sm:mx-0 text-center sm:text-left"
        >
          <span>
            Data Scientist with a strong quantitative background and a passion
            for AI, data, and web technologies.</span
          >
          <div class="py-1"></div>
          <span>
            With 4 years of experience in applying machine learning and data
            analysis to support data-driven decision-making, I'm able to
            leverage technology to optimize processes.
          </span>
        </div>
        <div id="experience" class="mt-6 sm:mt-8">
          <h3 class="text-xl sm:text-2xl font-bold">Experience</h3>
          <div id="qonto" class="pt-2">
            <div class="flex flex-row items-baseline">
              <h4 class="mt-2 text-lg sm:text-xl font-semibold pr-2">Qonto</h4>
              <span
                class="text-sm sm:text-base text-gray-500 dark:text-gray-400 italic"
                >2023 - Present</span
              >
            </div>
            <div
              class="font-semibold text-slate-600 dark:text-slate-300 pt-1 text-base sm:text-lg"
            >
              Quantitative Risk Analyst
            </div>
            <ul class="list-disc pl-6 mt-2 space-y-2 text-sm sm:text-base">
              <li>Reviewed and helped optimize ML models for fighting fraud</li>
              <li>Developed the German credit risk model from end to end</li>
              <li>
                Assisted multiple departments on data wrangling and dataviz
                projects
              </li>
            </ul>
            <div class="mt-4 mb-6">
              <p
                class="font-mono text-sm text-slate-600 dark:text-slate-300 pl-2 mb-2"
              >
                Skills used:
              </p>
              <div class="flex flex-wrap gap-2">
                <Badge>Python</Badge>
                <Badge>SQL</Badge>
                <Badge>Machine Learning</Badge>
                <Badge>Streamlit</Badge>
                <Badge>Metabase</Badge>
              </div>
            </div>
          </div>
          <div id="bnp-rse" class="pt-2">
            <div class="flex flex-row items-baseline">
              <h4 class="mt-2 text-lg sm:text-xl font-semibold pr-2">
                BNP Paribas, Groupe RSE
              </h4>
              <span
                class="text-sm sm:text-base text-gray-500 dark:text-gray-400 italic"
                >2021 - 2023</span
              >
            </div>
            <div
              class="font-semibold text-slate-600 dark:text-slate-300 pt-1 text-base sm:text-lg"
            >
              Data Scientist
            </div>
            <ul class="list-disc pl-6 mt-2 space-y-2 text-sm sm:text-base">
              <li>
                Developed dashboards within the group for portfolio steering
              </li>
              <li>
                Participated in the creation of methodologies and calculation of
                net zero targets published in the alignment report
              </li>
              <li>
                Assessed the flood and drought risk on the electricity
                generation portfolio
              </li>
            </ul>
            <div class="mt-4 mb-6">
              <p
                class="font-mono text-sm text-slate-600 dark:text-slate-300 pl-2 mb-2"
              >
                Skills used:
              </p>
              <div class="flex flex-wrap gap-2">
                <Badge>R</Badge>
                <Badge>RShiny</Badge>
                <Badge>Python</Badge>
                <Badge>Streamlit</Badge>
                <Badge>Mathematical modelling</Badge>
              </div>
            </div>
          </div>
          <div id="bnp-ny" class="pt-2">
            <div class="flex flex-row items-baseline">
              <h4 class="mt-2 text-lg sm:text-xl font-semibold pr-2">
                BNP Paribas, RISK Americas
              </h4>
              <span
                class="text-sm sm:text-base text-gray-500 dark:text-gray-400 italic"
                >2020</span
              >
            </div>
            <div
              class="font-semibold text-slate-600 dark:text-slate-300 pt-1 text-base sm:text-lg"
            >
              Credit Risk Analyst
            </div>
            <ul class="list-disc pl-6 mt-2 space-y-2 text-sm sm:text-base">
              <li>
                Drafted a report on the impact of climate change on credit risk
              </li>
              <li>
                Delivered a case study on the California wildfires and the
                bankruptcy of PG&E
              </li>
            </ul>
            <div class="mt-4 mb-6">
              <p
                class="font-mono text-sm text-slate-600 dark:text-slate-300 pl-2 mb-2"
              >
                Skills used:
              </p>
              <div class="flex flex-wrap gap-2">
                <Badge>Quantitative Finance</Badge>
                <Badge>Python</Badge>
                <Badge>Geospatial data</Badge>
              </div>
            </div>
          </div>
        </div>
        <div id="education" class="my-8">
          <h3 class="text-2xl font-bold mb-6">Education</h3>
          <div class="space-y-8">
            <div>
              <div class="flex flex-row items-baseline">
                <h4 class="text-lg sm:text-xl font-semibold pr-2">
                  Université Gustave Eiffel
                </h4>
                <span
                  class="text-sm sm:text-base text-gray-500 dark:text-gray-400 italic"
                >
                  2020 - 2021
                </span>
              </div>
              <p
                class="mt-2 text-sm sm:text-base text-gray-500 dark:text-gray-300"
              >
                Master in Applied Data and Management
              </p>
            </div>
            <div>
              <div class="flex flex-row items-baseline">
                <h4 class="text-lg sm:text-xl font-semibold pr-2">
                  École des Ponts ParisTech
                </h4>
                <span
                  class="text-sm sm:text-base text-gray-500 dark:text-gray-400 italic"
                >
                  2018 - 2020
                </span>
              </div>
              <p
                class="mt-2 text-sm sm:text-base text-gray-500 dark:text-gray-300"
              >
                Master in Mathematics, Finance and Data
              </p>
            </div>
            <div>
              <div class="flex flex-row items-baseline flex-wrap">
                <h4 class="text-lg sm:text-xl font-semibold pr-2">
                  Université Paris-Est Marne-la-Vallée
                </h4>
                <span
                  class="whitespace-nowrap text-sm sm:text-base text-gray-500 dark:text-gray-400 italic"
                >
                  2015 - 2018
                </span>
              </div>
              <p
                class="mt-2 text-sm sm:text-base text-gray-500 dark:text-gray-300"
              >
                Degree in Applied Mathematics
              </p>
            </div>
          </div>
        </div>
        <div id="skills" class="my-8">
          <h3 class="text-2xl font-bold mb-6">Skills</h3>
          <div class="space-y-4">
            <div>
              <h4
                class="text-md font-semibold text-gray-800 dark:text-gray-200 mb-2"
              >
                Programming languages:
              </h4>
              <div class="flex flex-wrap gap-2">
                <Badge>Python</Badge>
                <Badge>SQL</Badge>
                <Badge>R</Badge>
                <Badge>JavaScript</Badge>
                <Badge>VBA</Badge>
              </div>
            </div>

            <div>
              <h4
                class="text-md font-semibold text-gray-800 dark:text-gray-200 mb-2"
              >
                Data Science:
              </h4>
              <div class="flex flex-wrap gap-2">
                <Badge>pandas</Badge>
                <Badge>polars</Badge>
                <Badge>tidyverse</Badge>
                <Badge>matplotlib</Badge>
                <Badge>plotly</Badge>
                <Badge>Jupyter</Badge>
              </div>
            </div>

            <div>
              <h4
                class="text-md font-semibold text-gray-800 dark:text-gray-200 mb-2"
              >
                Data Visualization:
              </h4>
              <div class="flex flex-wrap gap-2">
                <Badge>Streamlit</Badge>
                <Badge>Metabase</Badge>
                <Badge>RShiny</Badge>
                <Badge>PowerBI</Badge>
              </div>
            </div>

            <div>
              <h4
                class="text-md font-semibold text-gray-800 dark:text-gray-200 mb-2"
              >
                Machine Learning:
              </h4>
              <div class="flex flex-wrap gap-2">
                <Badge>PyTorch</Badge>
                <Badge>scikit-learn</Badge>
                <Badge>XGBoost</Badge>
                <Badge>CatBoost</Badge>
                <Badge>Hugging Face</Badge>
                <Badge>langchain</Badge>
              </div>
            </div>

            <div>
              <h4
                class="text-md font-semibold text-gray-800 dark:text-gray-200 mb-2"
              >
                Tools:
              </h4>
              <div class="flex flex-wrap gap-2">
                <Badge>Git</Badge>
                <Badge>Docker</Badge>
                <Badge>UNIX</Badge>
              </div>
            </div>

            <div>
              <h4
                class="text-md font-semibold text-gray-800 dark:text-gray-200 mb-2"
              >
                Web:
              </h4>
              <div class="flex flex-wrap gap-2">
                <Badge>Svelte</Badge>
                <Badge>Astro</Badge>
                <Badge>React</Badge>
                <Badge>Tailwind</Badge>
              </div>
            </div>

            <div>
              <h4
                class="text-md font-semibold text-gray-800 dark:text-gray-200 mb-2"
              >
                Languages:
              </h4>
              <div class="flex flex-wrap gap-2">
                <Badge>French (native)</Badge>
                <Badge>English (fluent)</Badge>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="projects" class="w-full mb-12 sm:mb-16">
      <div class="container px-4 md:px-6">
        <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
          Projects
        </h2>
        <div class="grid gap-6 mt-6 sm:grid-cols-2 lg:grid-cols-3">
          <ProjectCard
            title="Haxball AI"
            description={`Creation of the <code class="bg-gray-100 dark:bg-gray-700 px-1.5 py-0.5 rounded font-mono text-sm">HaxballGym</code> library to train AI agents for the Haxball game.`}
            link="/projects/haxball-ai"
          />
          <ProjectCard
            title="Haxball Dashboard"
            description="Dashboard for Haxball game competitions"
            link="/projects/haxball-dashboard"
          />
          <ProjectCard
            title="ENS ChallengeData"
            description="Prediction of the response time of firefighters in Paris"
            link="/projects/ens-firefighters"
          />
        </div>
      </div>
    </section>
  </main>
</Layout>
